/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    min-width: 100%;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog {
    display: inline-block;
    background-color: #040505;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
